body{
    background: #CEF6EC;
}

html{
overflow: hidden;/* Краще так не робити */
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /* Не має сенсу, оскільки між елементами немає простору (три елементи займають усю ширину)*/
}
.container-block{
    text-align: center;
    width: calc(100% * (1/3)); /* :) */
}
